* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100%;
}

header .logo {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background: yellowgreen;
  line-height: 50px;
  overflow: hidden;
}

header .logo p {
  text-align: center;
  color: white;
  font-weight: bold;
}

header .back {
  position: absolute;
  line-height: 50px;
  top: 0;
  left: 10px;
  color: white;
  font-weight: bold;
}

header .back i {
  color: white;
}

/* search */
.search_ex {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: lightgray;
  margin: 0 auto;
}

.search_ex .search {
  position: relative;
}

.search_ex .search .search_inner {
  position: relative;
}

.search_ex .search .search_inner input {
  width: 95%;
  margin: 10px 10px;
  float: left;
  height: 30px;
  border-style: none;
  border-radius: 8px;
  color: lightgray;
}

.search_ex .search .search_inner i {
  position: absolute;
  top: 16px;
  left: 15px;
  color: lightgray;

}

.search_ex .search>i {
  position: absolute;
  top: 16px;
  right: 20px;
  color: lightgray;
}

/* talk */
.talk {
  height: 80px;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}



.talk .talk_left {
  margin-top: 10px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.talk .talk_left img {
  height: 50px;
  margin-top: 10px;
  width: 50px;
}

.talk .talk_right {
  margin-top: 10px;
  float: left;
  width: calc(100% - 80px);
  height: 80px;
}

.talk .talk_right .talk_right_left {
  width: calc(100% -80px -40px);
  float: left;
}

.talk .talk_right .talk_right_left b {
  display: block;
  font-size: 12px;
}

.talk .talk_right .talk_right_left p {
  display: block;
  font-size: 12px;
  margin-top: 7px;
  color: gray;
}


.talk .talk_right .talk_right_right {
  width: 40px;
  float: right;
}

.talk .talk_right .talk_right_right p {
  display: block;
  font-size: 10px;
  color: gray;
}

.talk.green .talk_right .talk_right_right p:nth-child(2) {
  width: 15px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  background-color: yellowgreen;
  color: white;
  margin-top: 10px;
  margin-left: 8px;
}

.talk.read .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(3) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(3) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(4) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(5) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(6) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(7) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(8) .talk_right .talk_right_right p:nth-child(2),
.talk.read div:nth-child(9) .talk_right .talk_right_right p:nth-child(2) {
  text-indent: -999999px;
}


/* footer */
footer.lnb {
  background-color: lightgreen;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer.lnb ul {}

footer.lnb ul li a {
  width: 25%;
  float: left;
  text-align: center;
  /* line-height: 50px; */
  margin-top: 12px;
  color: gray;
}

footer.lnb ul li:hover a {
  color: white;
}

footer.lnb ul li a p {
  display: block;
  font-size: 10px;
}

footer.lnb ul li a i {
  display: block;
}

@media only screen and (min-width:321px) and (orientation:landscape) {
  .search_ex .search>i {
    top: 0x;
    right: 45px;
   
  }
}